<div class="row justify-content-center" style="margin-top: 5cm; ">
    <div class="col-md-6">
        <div class="card bg-light shadow rounded-4">
            <div class="card-body p-4">
                <div class="text-center mb-3">
                    <span class="badge bg-primary fs-5 px-4 py-2 rounded-pill shadow">Şifre Sıfırlama</span>
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email Adresi" #txtEmail>
                    <button type="button" class="btn btn-primary shadow" style="margin-top: 10px;"
                        (click)="passwordReset(txtEmail.value)">Sıfırlama Maili
                        Gönder</button>
                </div>
            </div>
        </div>
    </div>
</div>