.order-detail-table {
  width: 100%;
  table-layout: fixed;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.order-detail-row-is-clicked {
  font-weight: bold;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  /* satırlar arasında boşluk */
}

mat-toolbar.dynamic-toolbar {
  height: auto;
  min-height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: flex-start;
  /* içerik üstte başlamasın diye opsiyonel */
}